/*contact*/

.contact {
    display: flex;
    flex-direction: column;
    grid-column-end: 4;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-row-start: 2;
    padding: 40px 0 40px 0;

    .introduction {
        display: flex;
        flex-direction: column;
        text-align: center;

        &__img {
            border-bottom-right-radius: 60%;
            border-bottom-left-radius: 40%;
            border-top-left-radius: 55%;
            border-top-right-radius: 45%;
            margin: auto;
            width: 190px;
        }

        &__paragraph {
            text-align: justify;

            &--transform {
                text-transform: uppercase;
            }
            
        }        

    }

}
