@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(180deg, rgba(69,60,172,0.9752275910364145) 21%, rgba(119,133,206,1) 90%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto auto 50px;
  min-height: 100vh;
}

/*navigation */

.navigation {
  background: transparent;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 2;

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    text-align: center;

    @media screen and (min-width: 641px) {
      flex-direction: row;
      justify-content: center;
    }

  }

  &__item:nth-of-type(1) {
    @media screen and (min-width: 641px) {
      margin-right: 45px;
    }

  }

  &__item:nth-of-type(2) {
     @media screen and (min-width: 641px) {
      margin-left: 45px;
      margin-right: 45px;
    }

  }

  &__item:nth-of-type(3) {
     @media screen and (min-width: 641px) {
      margin-left: 45px;
    }

  }

  &__link {
    color: #000;
    line-height: 45px;
    text-decoration: none;
    transition: color 0.2s linear;
    
    .fa-mountain, .fa-github-square, .fa-linkedin, .fa-male, .fa-file-signature {
      font-size: 2rem;
      margin-right: 10px;
    }
    
  }
      
  &__link:hover {
    color: #72EABA;
  }

  @media screen and (min-width: 641px) {
    display: block;
  }

}

.navigation--visible {
  background-color: #A6CEF4;
  display: block;
  width: 100%;
  z-index: 2;
}

.menu__switcher {
  background-color: transparent;
  border: 0;
  height: 50px;
  left: 20px;
  position: fixed;
  top: 20px;
  width: 50px;
  z-index: 2;

  .fa-bars, .fa-times {
    font-size: 2rem;
  }
  
  @media screen and (min-width: 641px) {
    display: none;
  }

}
